
dump/*

.haxelib/*
content/avas_evil_secrets/*
### Mac
.DS_Store
.icloud

### VS Code
vscode-project.hxml
export/*
.vscode/*
*.code-workspace
# Local history which shouldn't be shared.
.history
.ionide
# ! means a file should be added regardless of it it gets ignored prior.
# Including to allow others to use already set-up configuration tweaked for the project.
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json